name: CI

on:
  push:
    branches:
      - master
      - release-*
    tags: '*'
  pull_request:

jobs:
  #TODO HDF5-system-libs:
  #TODO   name: julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} (system libhdf5 + mpich)
  #TODO   runs-on: ${{ matrix.os }}
  #TODO   timeout-minutes: 20
  #TODO   strategy:
  #TODO     matrix:
  #TODO       version:
  #TODO         - '1.9'
  #TODO         - '1.10'
  #TODO         - '1.11'
  #TODO         - '1'
  #TODO       os:
  #TODO         - ubuntu-22.04
  #TODO       arch:
  #TODO         - x64
  #TODO   steps:
  #TODO     - name: Install libraries
  #TODO       run: |
  #TODO         sudo apt-get update
  #TODO         sudo apt-get install mpich libhdf5-mpich-dev
  #TODO         echo "JULIA_HDF5_PATH=/usr/lib/x86_64-linux-gnu/hdf5/mpich" >> $GITHUB_ENV
  #TODO     - uses: actions/checkout@v6
  #TODO     - uses: julia-actions/cache@v2
  #TODO     - uses: julia-actions/setup-julia@2
  #TODO       with:
  #TODO         version: ${{ matrix.version }}
  #TODO         arch: ${{ matrix.arch }}
  #TODO     - uses: julia-actions/julia-buildpkg@1
  #TODO     - name: Configure MPI.jl
  #TODO       shell: julia --color=yes {0}
  #TODO       run: |
  #TODO         @show pwd()
  #TODO         include(joinpath(pwd(), "test", "configure_packages.jl"))
  #TODO     - uses: julia-actions/julia-runtest@1

  HDF5:
    name: julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.9'
          - '1.10'
          - '1.11'
          - '1'
          - 'nightly'
        os:
          #TODO - ubuntu-24.04
          - ubuntu-24.04-arm
          - macOS-15-intel
          #TODO - macOS-26
          #TODO - windows-2025
        arch:
          - x64
          - x86
        #TODO exclude:
        #TODO   - os: macOS-latest
        #TODO     arch: x86
        #TODO   - os: ubuntu-latest # excluded because HDF5_jll v1.12 does not support i686
        #TODO     arch: x86
        #TODO   - version: 'nightly'
        #TODO     arch: x86
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/cache@v2
      - uses: julia-actions/setup-julia@2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@1
      - uses: julia-actions/julia-runtest@1
        env:
          JULIA_DEBUG: Main
      - uses: julia-actions/julia-processcoverage@1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info

  #TODO integration:
  #TODO   name: ${{ matrix.package.repo }} - julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
  #TODO   runs-on: ${{ matrix.os }}
  #TODO   timeout-minutes: 30
  #TODO   strategy:
  #TODO     fail-fast: false
  #TODO     matrix:
  #TODO       version:
  #TODO         - '1'
  #TODO       os:
  #TODO         - ubuntu-latest
  #TODO       arch:
  #TODO         - x64
  #TODO       package:
  #TODO         - {user: JuliaIO, repo: MAT.jl}
  #TODO         - {user: JuliaIO, repo: JLD.jl}
  #TODO   steps:
  #TODO     - uses: actions/checkout@v6
  #TODO     - uses: julia-actions/setup-julia@2
  #TODO       with:
  #TODO         version: ${{ matrix.version }}
  #TODO         arch: ${{ matrix.arch }}
  #TODO     - uses: julia-actions/julia-buildpkg@1
  #TODO     - name: Clone ${{ matrix.package.repo }}
  #TODO       uses: actions/checkout@v6
  #TODO       with:
  #TODO         repository: ${{ matrix.package.user }}/${{ matrix.package.repo }}
  #TODO         path: downstream
  #TODO     - name: Run ${{ matrix.package.repo }} tests
  #TODO       shell: julia --project=downstream {0}
  #TODO       run: |
  #TODO           using Pkg
  #TODO           try
  #TODO             # force it to use this PR's version of the package
  #TODO             Pkg.develop(PackageSpec[ # resolver may fail with main deps
  #TODO               PackageSpec(path="."),
  #TODO               PackageSpec(path="./filters/H5Zbitshuffle"),
  #TODO               PackageSpec(path="./filters/H5Zblosc"),
  #TODO               PackageSpec(path="./filters/H5Zbzip2"),
  #TODO               PackageSpec(path="./filters/H5Zlz4"),
  #TODO               PackageSpec(path="./filters/H5Zzstd"),
  #TODO             ])
  #TODO             Pkg.update()
  #TODO             Pkg.test()  # resolver may fail with test time deps
  #TODO           catch err
  #TODO             err isa Pkg.Resolve.ResolverError || rethrow()
  #TODO             # If we can't resolve that means this is incompatible by SemVer and this is fine
  #TODO             # It means we marked this as a breaking change, so we don't need to worry about
  #TODO             # Mistakenly introducing a breaking change, as we have intentionally made one
  #TODO             @info "Not compatible with this release. No problem." exception=err
  #TODO             exit(0)  #  Exit immediately, as a success
  #TODO           end
