name: CI

on:
  push:
    branches:
      - master
      - release-*
    tags: '*'
  pull_request:

jobs:
  # This test is disable because the Github runner image `ubuntu-20.04` is not available any more.
  # Updating to a newer image is not trivial; some debugging is necessary.
  # HDF5-system-libs:
  #   name: julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} (system libhdf5 + mpich)
  #   runs-on: ${{ matrix.os }}
  #   timeout-minutes: 20
  #   strategy:
  #     matrix:
  #       version:
  #         - '1.10'
  #         - '1'
  #       os:
  #         - ubuntu-20.04 # required for libhdf5 v1.10.4 support
  #       arch:
  #         - x64
  #   steps:
  #     - name: Install libraries
  #       run: |
  #         sudo apt-get update
  #         sudo apt-get install mpich libhdf5-mpich-dev
  #         echo "JULIA_HDF5_PATH=/usr/lib/x86_64-linux-gnu/hdf5/mpich" >> $GITHUB_ENV
  #     - uses: actions/checkout@v6
  #     - uses: julia-actions/cache@v2
  #     - uses: julia-actions/setup-julia@v2
  #       with:
  #         version: ${{ matrix.version }}
  #         arch: ${{ matrix.arch }}
  #     - uses: julia-actions/julia-buildpkg@v1
  #     - name: Configure MPI.jl
  #       shell: julia --color=yes {0}
  #       run: |
  #         @show pwd()
  #         include(joinpath(pwd(), "test", "configure_packages.jl"))
  #     - uses: julia-actions/julia-runtest@v1

  HDF5:
    name: julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - {version: '1.9', os: ubuntu-24.04, arch: x64}
          - {version: '1.9', os: ubuntu-24.04, arch: x86}
          - {version: '1.9', os: ubuntu-24.04-arm, arch: aarch64}
          - {version: '1.9', os: macOS-15-intel, arch: x64}
          - {version: '1.9', os: macOS-26, arch: aarch64}
          - {version: '1.9', os: windows-2025, arch: x64}
          - {version: '1.9', os: windows-2025, arch: x86}
          - {version: '1.10', os: ubuntu-24.04, arch: x64}
          - {version: '1.10', os: ubuntu-24.04, arch: x86}
          - {version: '1.10', os: ubuntu-24.04-arm, arch: aarch64}
          - {version: '1.10', os: macOS-15-intel, arch: x64}
          - {version: '1.10', os: macOS-26, arch: aarch64}
          - {version: '1.10', os: windows-2025, arch: x64}
          - {version: '1.10', os: windows-2025, arch: x86}
          - {version: '1', os: ubuntu-24.04, arch: x64}
          - {version: '1', os: ubuntu-24.04, arch: x86}
          - {version: '1', os: ubuntu-24.04-arm, arch: aarch64}
          - {version: '1', os: macOS-15-intel, arch: x64}
          - {version: '1', os: macOS-26, arch: aarch64}
          - {version: '1', os: windows-2025, arch: x64}
          - {version: '1', os: windows-2025, arch: x86}
          - {version: 'nightly', os: ubuntu-24.04, arch: x64}
          - {version: 'nightly', os: ubuntu-24.04, arch: x86}
          - {version: 'nightly', os: ubuntu-24.04-arm, arch: aarch64}
          - {version: 'nightly', os: macOS-15-intel, arch: x64}
          - {version: 'nightly', os: macOS-26, arch: aarch64}
          - {version: 'nightly', os: windows-2025, arch: x64}
          - {version: 'nightly', os: windows-2025, arch: x86}
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/cache@v2
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          JULIA_DEBUG: Main
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info

  integration:
    name: ${{ matrix.package.repo }} - julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
        os:
          - ubuntu-latest
        arch:
          - x64
        package:
          - {user: JuliaIO, repo: MAT.jl}
          - {user: JuliaIO, repo: JLD.jl}
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/cache@v2
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@v1
      - name: Clone ${{ matrix.package.repo }}
        uses: actions/checkout@v6
        with:
          repository: ${{ matrix.package.user }}/${{ matrix.package.repo }}
          path: downstream
      - name: Run ${{ matrix.package.repo }} tests
        shell: julia --project=downstream {0}
        run: |
            using Pkg
            try
              # force it to use this PR's version of the package
              Pkg.develop(PackageSpec[ # resolver may fail with main deps
                PackageSpec(path="."),
                PackageSpec(path="./filters/H5Zbitshuffle"),
                PackageSpec(path="./filters/H5Zblosc"),
                PackageSpec(path="./filters/H5Zbzip2"),
                PackageSpec(path="./filters/H5Zlz4"),
                PackageSpec(path="./filters/H5Zzstd"),
              ])
              Pkg.update()
              Pkg.test()  # resolver may fail with test time deps
            catch err
              err isa Pkg.Resolve.ResolverError || rethrow()
              # If we can't resolve that means this is incompatible by SemVer and this is fine
              # It means we marked this as a breaking change, so we don't need to worry about
              # Mistakenly introducing a breaking change, as we have intentionally made one
              @info "Not compatible with this release. No problem." exception=err
              exit(0)  #  Exit immediately, as a success
            end
